<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="~{common :: commonHead}">
  <title>Product Manager</title>
</head>

<body>
<div class="container">
  <h1 class="mt-5">Product List</h1>
  <a class="btn btn-primary mb-3"
     th:href="@{/products/new}"
     sec:authorize="hasRole('ADMIN')">
    Create New Product
  </a>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Made In</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${listProducts}">
      <td th:text="${product.id}">Product ID</td>
      <td th:text="${product.name}">Name</td>
      <td th:text="${product.brand}">Brand</td>
      <td th:text="${product.madeIn}">Made in</td>
      <td th:text="${product.price}">Price</td>
      <td>
        <a th:href="@{'/products/edit/' + ${product.id}}"
           sec:authorize="hasRole('ADMIN')">
          Edit
        </a>
        |
        <a th:href="@{'/products/delete/' + ${product.id}}"
           sec:authorize="hasRole('ADMIN')"
           onclick="return confirm('정말 삭제하시겠습니까?');">
          Delete
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS fragment 삽입 -->
<div th:insert="~{common :: commonScript}"></div>
</body>
</html>
